@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.container {
    max-width: 1110px;
    margin: 0 auto;  /*จัดกลางด้วย margin 0 auto */
}

header {
    height: 1161px;
    background: url('../img/designer_1.svg') no-repeat;
    background-position: right bottom 50px;
}
nav {
    height: 60px;
    display: flex; /*เพื่อให้ที่เรียงกันเเนวตั้ง มาเรียงเเนวนอน*/
    justify-content: space-between; /* เพื่อให้แยกไม่ชิดติดกัน*/
    align-items: center; /*ทุกตัวอยู่กลางกล่องทั้งในเเนวตั้ง*/
}
nav ul {
    display: flex;
    list-style: none; /*ลบบูเล็ทออกทุกตัว*/
    width: 255px;
    justify-content: space-between;
}
nav ul li a {
    text-decoration: none; /*ลบเส้นใต้ link*/
    color: #37447E;
}
.logo {
    text-align: center;
}
.logo h1 {
    color: #37447E;
    font-size: 26px;
}
.nav-btn {
    text-align: center;
    width: 160px;
    background: #111B47;
    border-radius: 2px;
    display: flex;
    align-items: center; /*กลางเเนวตั้ง*/
    justify-content: center; /*กลางแนวนอน*/
}
.nav-btn a {
    color: #fff;
    text-decoration: none;
    display: block;
    font-size: 12px;
}
.header-info {
    margin-top: 250px;
    width: 540px;
    border: 1px solid red;
}
.header-title h1 {
    font-size: 50px;
}
.header-content p {
    color: #505f98;
    margin-top: 30px;
    font-size: 18px;
    line-height: 30px; /*ความสูงระหว่างบรรทัด*/
}
.header-btn {
    display: flex;
    margin-top: 65px;
}
.header-btn a {
    display: inline-block;
}
.purchase {
    background: #111B47;
    color: #fff;
    text-decoration: none;
    padding: .5rem 1.5rem;
    border-radius: 2px;
    margin-right: 30px;
}
.learmore {
    color: #111B47;
    background: #fff;
    border: 2px solid #111B47;
    border-radius: 2px;
    text-decoration: none;
    padding: .5rem 1.5rem;
}
.powerful {
    background: #fff;
    border-bottom-left-radius: 100% 100px ;
    border-bottom-right-radius: 100% 100px ;
    z-index: 99;
    position: relative;


}
.powerful-con {
    display: flex;
    justify-content: space-between;
}
.powerful-info {
    margin-top: 160px;
    width: 540px;
}
pw-title h2 {
    font-size: 36px;
    margin-bottom:  1rem;

}
.pw-p p {
    color: #6f7cb2;
    font-size: 16px;
    line-height: 25px;
}
.pw-box {
    display: flex;
    justify-content: space-between;
}
.pw-items {
    width: 255px;
}
.pw-items h3 {
    font-size: 16px;
    color: #091133;
    font-size: 16px;
    margin: .5rem 0; /* กำหนดให้บนล่าง 0.5 เเละ ซ้ายขวา 0 */
}
.pw-items p {
    font-size: 12px;
    line-height: 18px;
    color: #5d6970;

}
.powerful-img {
    width: 540px;
}
.powerful-img img {
    width: 100%;
    margin-top: 100px;
}
.powerful-sec-con {
    display: flex;
    justify-content: space-between;
    height: 570px;
    align-items: center;
}
.pw-left {
    width: 540px;

}
.pw-left img {
    width: 100%;
}
.pw-right {
    width: 445px;
}
.pw-right h3 {
    color: #091133;
    font-size: 36px;
    margin-bottom: 1rem;
}
.pw-right p {
    font-size: 16px;
    line-height: 26px;
    color: #6f7cb2;
}
.price {
    background: #e7ecff;
    height: 800px;
    margin-top: -4rem;
    padding: 10rem 0;
    display: flex;
    align-items: center;
}
.price-info {
    width: 600px;
    text-align: center;
}
.price-info h2 {
    font: 36px;
    margin-bottom: 1rem;
}

.price-info p {
    color: #6f7cb2;
    line-height: 26px;
}
.fourty {
    margin: 3rem 0;
    text-align: center;
}
.fourty .number {
    display: block;
    font-weight: bold;
    font-size: 50px;
    color: #222f65;
}
.fourty .text {
    color: #37447E;
}
.price-btm {
    text-align: center;
}
.price-btm .price-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background: #111B47;
    padding: .5rem 3rem;
    border-radius: 2px;
    margin-top: .5rem;

}
footer {
    background: #b9c4ee;
    height: 220px;
}
.footer-top {
    display: flex;
    justify-content: space-between;
    height: 140px;
    border-bottom: 1px solid #cdd1d4;
    align-items: center;
}
.footer-top h2 {
    color: #37447E;
}
.footer-top .buynow {
    width: 160px;
    background: #111B47;
    height: 26px;
    border-radius: 2px;
    display: flex;
    align-items: center; /*กลางเเนวตั้ง*/
    justify-content: center; /*กลางแนวนอน*/
    color: #fff;
    text-decoration: none;
    font-size: 12px;
}
.footer-bottom {
    display: flex;
    height: 70px;
    justify-content: space-between;
    align-items: center;
}
.btm-menu, .social {
    display: flex;
    list-style: none;
}
.btm-menu li {
    margin-right: 60px;
}
.social li {
    margin-left: 35px;
}
.btm-menu li a, .social li a {
    text-decoration: none;
    color: #6f7cb2;
}