*{
    margin: 0;
    padding: 0;
}
.table{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 5%;
}

table {
    border: 1px solid black;
}

th, td {
    border: 1px solid black;
    text-align: center;
    padding: 0 10px 0 10px;
}
.score_result {
    display: flex;
    justify-content: center;
    margin-top: 2%;
}
.result {
    display: flex;
    margin-top: 2%;
}
#ans {
    color: red;
}