@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Great+Primer+SC&family=Inter:wght@400;500;600;700&family=Orbitron:wght@800;900&family=Oswald&display=swap');
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    color: #fff;

}
.wrapper {
    max-width: 854px;
    margin: 0 auto;
    background: #010208;
}

nav {

    display: grid;
    grid-template-columns: 1fr 2fr 3fr;
    align-items: center;
    padding: 2rem 0rem;

}

nav h3 {
    /* color: #fff; */
    font-family: IM FELL Great Primer SC ;
    font-size: 23.35px;
    text-align: center;
}
nav .menu ul {
    display: grid;
    grid-template-columns: auto auto auto auto;
    
}
nav .menu li {
    list-style: none;
}
nav .menu a {
    font-size: 12.51px;
    font-family: inter;
}
.btn li a {
    font-size: 11.06px;
}
a {
    /* color: #fff; */
    text-decoration: none;
}

.btn-padding {
    background: #BC3CD8;
    padding: .8rem 1.6rem;
    border-radius: .3rem;
}
nav .menu .no-btn a:hover {
    color: #C824EC;
    padding-bottom: .2rem;
    border-bottom:2px solid #fff;
    transition: .3s;
}
/* --------------------------------------------------- */
/*left*/
.container-title {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-gap: 1rem; */
    padding-top: 1rem;
    border: 2px solid red;
}
.title-left {
    padding-left: 1rem;
}
.title-left h1 {
    font-family: Orbitron;
    font-size: 31.69px;
    padding-bottom: 1.5rem;
}
.title-left p {
    font-family: Inter;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.69);
    padding-bottom: 2.5rem;
}
.box-menu {
    display: grid;
    grid-template-columns: 1.5fr 3fr;
    padding-bottom: 3rem;
}
.box-menu .menu-left a, .box-menu .menu-right a {
    font-size: 11.06px;
    font-weight: bold;
}
.box-img {
    display: flex;
}
.box-img .img-2 {
    position: relative;
    right: .3rem;
}
.box-img .img-3 {
    position: relative;
    right: .8rem;
}
.box-img .img-4 {
    position: relative;
    right: 1.5rem;
}
.box-img .img-text {
    position: relative;
    top: .65rem;
    right: .5rem;
}
.box-img .img-text p {
    color: #fff;
    font-family: inter semibold;
    font-size: 10px;
}
/* right */
.title-right .img-star {
    position: relative;
    left: 18rem;
    /* margin-bottom: 5rem; */
}
.title-right .ring {
    position: relative;
    bottom: 16em;
    
}
.title-right .text-image {
    display: flex;
    flex-direction: column;
}
.title-right .background-text {
    background: #534686;
    width: 313px;
    height: 340px;
    position: relative;
    bottom: 10em;
    left: 1rem;
    border-radius: 2rem 7rem 10rem 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title-right .img-people {
    z-index: 99;
}
.title-right .background-text h3 {
    font-size: 19.59px;
    font-family: Orbitron;
    padding-top: 7rem;
}

.title-right .underline {
    border-top: 2px solid #fff;
    margin: 1rem 0rem;
    width: 11em;
    position: relative;
    left: 3em;
}
.title-right .background-text p {
    text-align: center;
    font-size: 11.06px;
    font-family: Inter;
}




